*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(black , gray);
    min-height: 100vh;
}
.cat{
    width: 600px;
    height: 400px;
    background-image: url(../images/cat.jpg);
    background-size: cover;
    position: relative;
    margin: auto;
    top: 150px;
}
.text{
    background-color: rgba(128, 128, 128, 0.423);
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.text h1{
    color: white;
}