*{
    box-sizing: border-box;
}
html{
    background-image: linear-gradient(rgb(100, 100, 100),rgb(69, 67, 107));
    width: 100%;
    height: 100%;
}
.top{
    background-image: url(../image/mountain.jpg);
    background-position: center;
    background-size: 100%;
    position: relative;
    margin: auto;
    width: 350px;
    height: 525px;
    border: 1px solid white;
    text-align: center;
    padding: 0;
}
.top h1{
    font-family: Quicksand;
    color: cyan;
    position: relative;
    bottom: 0px;
    padding: 0;
    font-weight: light;
}
.bottom{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(cyan,rgb(10, 51, 51));
    display: none;
    opacity: 0.4;
}
.text{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.text p{
    font-family: Dancing Script;
}
.text button{
    width: 100px;
    height: 30px;
    border-radius: 20px 0px 20px 20px;
    background-color: cyan;
    font-size: 20px;
    
    margin-top: 20px;
    border: 3px solid black;
    padding-bottom: 5px;
}
.text button:hover{
    font-weight: bold;
    box-shadow: inset 0 0 10px blue;
}
.top:hover div{
    display: block;
}
.top:hover h1{
    text-align: left;
    color: rgb(1, 1, 127);
    padding-left: 10px;

}
.text p{
    padding: 20px;
    color: white;
    text-align: justify;
}