*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(98, 98, 98);
}
.navbar{
    background-color: rgb(255, 255, 255);
    max-height: 50px;
}
.navbar ul{
    list-style-type: none;
}
.navbar li{
    color: rgb(72, 72, 72);
    display: inline-block;
    margin: 15px 10px;
}