*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: block;
    height: 200px;
    background-color: #ddd;
    text-align: center;
    line-height: 200px;
}
.body{
    display: block;
    
    height: 250px;
}
.body div{
    float: left;
}
.column1{
    height: 100%;
    width: 30%;
    background-color: #aaa;
}
.column2{
    height: 100%;
    width: 40%;
    background-color: #bbb;
}
.column3{
    height: 100%;
    width: 30%;
    background-color: #aaa;
}
.footer{
    display: block;
    padding: 10px;
    text-align: center;
    height: 50px;
    background-color: #777;
}